
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000 ;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
  
    text-align: center;
    color: #00C1FF;
    font-weight: bold;
    margin-top: 20px; /* Agregar margen inferior para separar del contenido debajo */

}
.options {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 30px;
}
.options li {
    margin-bottom: 2px;
}
.options a {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.options a:hover {
    background-color: #0056b3;
}


.glow-on-hover {
    width: 600px; /* Cambia el ancho según sea necesario */
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


#infoContainer {
    background-color: #f2f2f2; /* Color de fondo del contenedor */
    border: 1px solid #ccc; /* Borde del contenedor */
    padding: 20px; /* Relleno interior del contenedor */
    margin-top: 20px; /* Margen superior para separar del botón */
    max-width: 400px;
    margin: 20px auto;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 460px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0056b3;
    color: #fff;
  }
  .custom-button {
    background-color:#e1524a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #F62307;
}
